.container {
  display: grid;
  width: 100vw;
  grid-template-columns: auto auto;
  overflow-y: scroll;
}
.home {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 5rem;
  grid-column-start: 2;
}
