.nav {
  display: flex;
}
.nav__ul {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: center;
  gap: 20px;
  box-shadow: 0 0 3px #5625ff;
  padding: 2vmin;
  background-color: #151515;
}
.nav__button {
  display: block;
  border-radius: 4px;
  width: 200px;
  height: 100%;
  background: linear-gradient(30deg, #7a81c4 0%, #bbeaca 35%, #52dfd9 100%);
  padding: 1vmin;
  text-decoration: none;
  text-align: center;
  color: black;
  box-shadow: 0 0 15px #5625ff;
}
.nav__button:hover {
  background: linear-gradient(30deg, #2332c0 0%, #45e979 35%, #05f0e4 100%);
}
